pkgbase = github-label-sync
	pkgdesc = Synchronise GitHub labels with as few destructive operations as possible
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/Financial-Times/github-label-sync
	arch = any
	makedepends = npm
	depends = nodejs
	noextract = github-label-sync-2.2.0.tgz
	options = !emptydirs
	source = https://registry.npmjs.org/github-label-sync/-/github-label-sync-2.2.0.tgz
	sha512sums = e0505cc00ffa5e142d15667ffb193020024a9fb5c99642c15c0f9e037923249e984c56d3ca753a0a0f6850ddd15d4081a15d81edf872121a8de88c163bf85fde

pkgname = github-label-sync
